<h1>All the cocktails</h1>
<div class="card-container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="vertical-card col-3" data-aos="fade-up">
        <img src="https://source.unsplash.com/random/800x600" alt="" class="vertical-card-img">
        <%= link_to cocktail.name, cocktail_path(cocktail), class: "flex-grow-1 text-justify" %>
      </div>
    <% end %>
  </div>
</div>
