// Specific CSS for your home-page
.landing {
  display: flex;
  flex-direction: column;
  height: 60vh;
  background-image: asset-url("cocktails.jpeg");
  background-size: cover;
  color: white;
  padding: 20px;
}

.big-text {
  font-size: 60px;
}
